body, h1, h2, p, ul, li, strong {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
}

body {
  background-color: #333;
  padding: 0px;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 37.68rem;
  width: 21.12rem; 
  margin: 1rem;
  box-shadow: none;
  background: none;
}

.card-image{
  border-radius: 15px;
}

.card-side {
  height: 37.6rem;
  width: 21.12rem; 
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #2E2E2E;
}

.card-side.front {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-side.front img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.card.flipped .card-side.front {
  transform: rotateY(180deg);
}

.card.flipped .card-side.back {
  transform: rotateY(0deg);
}

strong {
  font-weight: bold;
}

/* Added styles to reduce spacing */
header {
  margin-bottom: 0; /* Removes bottom margin from the header */
}

.mt-5 {
  margin-top: 0rem !important; /* Reduces top margin. */
}

/* Center-align content text */
.content {
  text-align: center;
}

.grizzlies-link {
    font-size: 2rem; /* 2x the base font size */
    color: #000000;
    text-decoration: none; /* to remove underline from the link */
}

.perfectgame-link {
  font-size: 2rem; /* Keeping it consistent with the grizzlies-link */
  color: #000000; /* Example blue color */
  text-decoration: none; /* to remove underline from the link */
}

.pg-logo {
  width: 40px; /* or whatever width you prefer */
  height: auto; /* maintain aspect ratio */
  vertical-align: middle; /* to align it with the text */
}

.mac-logo {
  width: 45px; 
  height: auto; 
  vertical-align: middle;
}

.twitter-logo {
  width: 15px; /* or whatever width you prefer */
  height: auto; /* maintain aspect ratio */
  vertical-align: middle; /* to align it with the text */
}

.card-side.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* This aligns the content to the top of the card */
  align-items: center;
  padding-top: 1rem; /* Add some padding at the top */
  /* (the rest of your existing styles) */
}
.stats-header, .stats {
  text-align: center;
}

.contacts-card {
  width: 21.12rem;  /* Same width as the card */
  height: 17rem; /* Same height as the card. Adjust if needed. */
  background-color: #2E2E2E; /* Color from card-side.back */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0rem; /* Add some padding at the top */
  border-radius: 15px; /* Matches the border-radius of your main card */
}

.contacts-card .stats {
  text-align: center;
}

.contacts-card .stats p {
  font-size: 18px;  /* Adjust this value to your liking */
}

.contacts-card .stats a {
  color: #fdba37;  /* Assuming this is the yellow color you referred to */
  text-decoration: underline; /* If you want to remove underline from the links */
}

.contacts-card .stats a:hover {
  color: #fdba37;  /* This ensures the color remains consistent even on hover */
  text-decoration: underline; /* This adds an underline when hovered, but you can remove it if you don't want it */
}

.highlight-text { /* This is too make Ethan Roe the same yellow etc as the linked coaches */
  color: #fdba37;  /* The yellow color you want */
}

.stats-header h3 {
  text-decoration: underline;
}

.stats p {
  font-size: 1.35em; /* Adjust this value as needed */
}

footer {
  position: relative;
  padding-left: 10%;  /* adjust based on your design preference */
  padding-right: 10%;  /* adjust based on your design preference */
  z-index: 1;
}

footer::before, footer::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: white;
  z-index: -1;
  width: calc((100% - 100% * 0.4) / 5); /* Calculate the remaining space on each side */
}

footer::before {
  left: 0;
}

footer::after {
  right: 0;
}
