body, h1, h2, p, ul, li, strong {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
}

body {
  background-color: #333;
  padding: 0px;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 40.128rem;
  width: 21.12rem; 
  margin: 1rem;
  box-shadow: none;
  background: none;
}

.card-image{
  border-radius: 15px;
}

.card-side {
  height: 40.128rem;
  width: 21.12rem; 
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #2E2E2E;
}

.card-side.front {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-side.front img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.card.flipped .card-side.front {
  transform: rotateY(180deg);
}

.card.flipped .card-side.back {
  transform: rotateY(0deg);
}

strong {
  font-weight: bold;
}

/* Added styles to reduce spacing */
header {
  margin-bottom: 0; /* Removes bottom margin from the header */
}

.mt-5 {
  margin-top: 0rem !important; /* Reduces top margin. */
}

/* Center-align content text */
.content {
  text-align: center;
}
.grizzlies-link {
    font-size: 2rem; /* 2x the base font size */
    color: #fdba37;
    text-decoration: none; /* to remove underline from the link */
}
